<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <input type="number" name="id" placeholder="id">
        <input type="text" name="firstname" placeholder="firstname">
        <input type="text" name="lastname" placeholder="lastname">
        <input type="email" name="email" placeholder="email">
        <input type="text" name="phone" placeholder="phone">
        <select name="validated" placeholder="validated">
            <option>in progress</option>
            <option>validated</option>
            <option>rejected</option>
        </select>
        <label for="admin">Admin</label>
        <input type="checkbox" name="admin">

        <button type="submit" name="submit">
            send
        </button>
    </form>
</body>
</html>